.alerts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  z-index: 12;
}

.alert {
  width: 300px;
  margin: 5px;
  cursor: pointer;
}

.alert p {
  font-size: 13px;
  line-height: 13px;
  padding: 7px;
}
