<header></header>

<div id="head">
  <p id="head_title">{{contentCurrent.Titles[0]}}</p>
  <p id="head_studio">{{contentCurrent.SubTitles[0]}}</p>
  <p id="head_name">YAD.DESIGN</p>
</div>

<div id="text">
  <p>{{contentCurrent.Paragraphs[0]}}</p>
  <p>{{contentCurrent.Paragraphs[1]}}</p>
  <p>{{contentCurrent.Paragraphs[2]}}</p>
  <p>{{contentCurrent.Paragraphs[3]}}</p>
</div>

<div id=pros>
  <span>{{contentCurrent.Titles[1]}}</span>
  <ul>
    <li><img src="./assets/sign.png">{{contentCurrent.Pros[0]}}</li>
    <li><img src="./assets/sign.png">{{contentCurrent.Pros[1]}}</li>
    <li><img src="./assets/sign.png">{{contentCurrent.Pros[2]}}</li>
    <li><img src="./assets/sign.png">{{contentCurrent.Pros[3]}}</li>
    <li><img src="./assets/sign.png">{{contentCurrent.Pros[4]}}</li>
    <li><img src="./assets/sign.png">{{contentCurrent.Pros[5]}}</li>
    <li><img src="./assets/sign.png">{{contentCurrent.Pros[6]}}</li>
    <li><img src="./assets/sign.png">{{contentCurrent.Pros[7]}}</li>
  </ul>
</div>
